body {
    margin: 0;
    display: grid;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: #222;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 6px
}